html {
  margin: 0;
}
body{
    width: 80%;
    margin: 24px auto;
    text-align: center;
}
.book{
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book button {
    height: 40px;
    padding: 0 24px;
}
.books div.book:nth-child(odd){
    background-color: blue;
}
