html {
  margin: 0;
}
body{
    width: 80%;
    margin: 24px auto;
    text-align: center;
}
.book{
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.books {
    border: 3px solid black;
    padding: 7px;
}

.book button {
    height: 35px;
    padding: 0 24px;
    background-color: #fff;
    border: 3px solid black;
    font-weight: bold;
}
.book:nth-child(2){
    background-color: blue;
}

.add-book {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
